<img src="{{avatar_url}}" width=80 height=80> {{login}} ({{public_repos}} public repos)

<br>

<div class="row-fluid">
  <div class="span6">
    {{view "user_repos_view" collection_name="Repos" param_name="login" param_value=login lazy="true"}}
  </div>

  <div class="span6">
    <h3>Info</h3>
    <br>
    <table class="info-table table">
      <tr>
        <th>Location</th>
        <td>{{location}}</td>
      </tr>
      <tr>
        <th>Blog</th>
        <td>{{blog}}</td>
      </tr>
    </table>
  </div>
</div>
